@model IEnumerable<PlaySenac.Models.Seller>

@{
    ViewData["Title"] = "Index";
}

<h1>Informação report</h1>
    <h3>maior salario: </h3>
    <p>R$ @ViewData["TotalFolhaPagamento"]</p>

    <h3>maior salario: </h3>
    <p>R$ @ViewData["MaiorSalario"]</p>

    <h3>maior salario: </h3>
    <p>R$ @ViewData["MenorSalario"]</p>
    
    <h3>maior salario: </h3>
    <p>R$ @ViewData["MediaSalario"]</p>
    
    <h3>maior salario: </h3>
    <p>R$ @ViewData["Ricos"]</p>
